<a href="https://colab.research.google.com/github/PradeepKumarM30/MachineLearningtechniques/blob/main/20MAI0030ASSESSMENT1/NormalisationTechs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Add Necesssary Imports**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

# **2 . Load Dataset**

In [3]:
dataFrameForTitanicData = pd.read_csv('/content/sample_data/titanic_data.csv')

In [4]:
dataFrameForTitanicData

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [75]:
train =  pd.read_csv('/content/sample_data/titanic_data.csv')

# **3. Prepare data for training**

In [76]:
df = train[['Survived','Pclass','Sex','Age','Fare']]

In [77]:
df['Sex'] = df['Sex'].apply(lambda sex:1 if sex == 'male' else 0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [78]:
df['Age'] = df['Age'].fillna(df['Age'].median())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [79]:
df.head()

   Survived  Pclass  Sex   Age     Fare
0         0       3    1  22.0   7.2500
1         1       1    0  38.0  71.2833
2         1       3    0  26.0   7.9250
3         1       1    0  35.0  53.1000
4         0       3    1  35.0   8.0500

In [81]:
X = df.drop("Survived",axis = 1)
Y = df["Survived"]

# **1 . Z - Score normalisation**

In [16]:
X['Pclass'] = (X['Pclass'] - X['Pclass'].mean())/X['Pclass'].std()

In [18]:
X['Age'] = (X['Age'] - X['Age'].mean())/X['Age'].std()

In [19]:
X['Fare'] = (X['Fare'] - X['Fare'].mean())/X['Fare'].std()

In [20]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.3,random_state = 25)

In [29]:
#Logistic regression model fitting
from sklearn.linear_model import LogisticRegression 
logit = LogisticRegression(max_iter=500)

In [30]:
logit.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=500,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [31]:
Y_pred = logit.predict(X_test)

In [32]:
from sklearn.metrics import confusion_matrix,accuracy_score,f1_score,precision_score,recall_score,classification_report

accuracy_score(Y_test,Y_pred) * 100

77.61194029850746

# **2 . Median Normalisation**

In [43]:
X['Pclass'] = X['Pclass']/X['Pclass'].median()
X['Age'] = X['Age']/(X['Age'].median())
X['Fare'] = (X['Fare']/X['Fare'].median())

In [45]:
from sklearn.linear_model import LogisticRegression 

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.3,random_state = 25)
logit = LogisticRegression()
logit.fit(X_train,Y_train)
Y_pred = logit.predict(X_test)
accuracy_score(Y_test,Y_pred) * 100

76.49253731343283

# **3. Diffrent varaiant of min max**

In [53]:
X['Pclass'] = ((X['Pclass'] - X['Pclass'].min()) / (X['Pclass'].max() - X['Pclass'].min())) * (X['Pclass'].max() - X['Pclass'].min())
X['Age'] = ((X['Age'] - X['Age'].min()) / (X['Age'].max() - X['Age'].min())) * (X['Age'].max() - X['Age'].min())
X['Fare'] =((X['Fare'] - X['Fare'].min()) / (X['Fare'].max() - X['Fare'].min())) * (X['Fare'].max() - X['Fare'].min())

In [54]:
from sklearn.linear_model import LogisticRegression 

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.3,random_state = 25)
logit = LogisticRegression()
logit.fit(X_train,Y_train)
Y_pred = logit.predict(X_test)
accuracy_score(Y_test,Y_pred) * 100

77.61194029850746

# **4 . Max normalisation**

In [64]:
X['Pclass'] = X['Pclass']/(X['Pclass'].max())
X['Age'] = X['Age']/(X['Age'].max())
X['Fare'] = X['Fare']/(X['Fare'].max())

#2. z = old - min / max - min

In [65]:
from sklearn.linear_model import LogisticRegression 

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.3,random_state = 25)
logit = LogisticRegression()
logit.fit(X_train,Y_train)
Y_pred = logit.predict(X_test)
accuracy_score(Y_test,Y_pred) * 100

77.98507462686567

# **5. Other variant of min max**

In [73]:
X['Pclass'] = (X['Pclass'] - X['Pclass'].min())/(X['Pclass'].max() - X['Pclass'].min())
X['Age'] = (X['Age'] - X['Age'].min())/(X['Age'].max() - X['Age'].min())

X['Fare'] = (X['Fare'] - X['Fare'].min())/(X['Fare'].max() - X['Fare'].min())

In [74]:
from sklearn.linear_model import LogisticRegression 

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.3,random_state = 25)
logit = LogisticRegression()
logit.fit(X_train,Y_train)
Y_pred = logit.predict(X_test)
accuracy_score(Y_test,Y_pred) * 100

78.35820895522389

# **6 . Sigmoid normalisation**

In [84]:
import numpy as np

X['Pclass'] = 1 / (1 + np.exp(X['Pclass']))
X['Age'] = 1 / (1 + np.exp(X['Age']))


X['Fare'] =1 / (1 + np.exp(X['Fare']))

In [85]:
from sklearn.linear_model import LogisticRegression 

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.3,random_state = 25)
logit = LogisticRegression()
logit.fit(X_train,Y_train)
Y_pred = logit.predict(X_test)
accuracy_score(Y_test,Y_pred) * 100

77.23880597014924